<?php
    $hostname = "localhost";
    $username = "catherine";
    $password = "password1";
    $dbname = "assignment1";

    $conn = mysqli_connect($hostname, $username, $password, $dbname);
    if (!$conn)
        die("Could not connect to Server");
?>