body {
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
    overflow: auto;
    background-color: #eeeeee;
    box-sizing: border-box;
  }

  .main-content {
    margin: 100px auto;
    display: block;
    padding: 20px;
    width: 50%;
    height: 50%;
    background-color: white;
  }

  .column {
    float:left;
    width: 50%;
  }

  .main-content:after {
    content: "";
    display: table;
    clear: both;
  }

  .add-cart-btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Quicksand';
    margin-bottom: 0;
    float: bottom;
  }
  
  .add-cart-btn:hover {
    opacity: 0.7;
  }

  .product-stock {
    font-style: italic;
  }